@model IEnumerable<EnergyStyleCore.Models.Classes.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="wrapper">
    <div class="category__catalog">
        <div class="content">
            <div class="category__cards">
                @{
                    foreach (var item in Model)
                    {
                        <div class="category__card">
                            <a href="@Url.Action("Index", "Products", new {categoryId =  item.Id})">
                                <img src="@item.Image" alt="">
                                <p>@item.Name</p>
                            </a>
                            <p>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
