@using System.Security.Claims
@model EnergyStyleCore.Models.Classes.Service

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
</div>
@section Scripts {
    <script src="/js/slider.js"></script>
}
@if (!string.IsNullOrWhiteSpace(User?.Identity?.Name))
{
    var role = User.FindFirst(c => c.Type == ClaimTypes.Role)?.Value;

    if (role.Contains("user"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
}